#container{
    height: 300px;
    width: auto;
    margin: 50px;
    padding: 15px;
}
.box{
    border:2px solid;
    border-color: rgb(33, 178, 245);
    padding: 25px;
    padding-top: 10px;
    box-sizing: border-box;
    height: 300px;
    width: 50%;
    float: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#box1{
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color:rgb(33, 178, 245);
    position: relative;
}
#firstDegreeLabel{
    padding-bottom: 5px;
    display:block;
}
#tempBox{
    border-color:rgb(33, 178, 245);
}
#box2{
    background-color: rgb(33, 178, 245);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    position: relative;
}
#temp{
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}
#finalDegree{
    position: absolute;
    top: 80px;
    left: 170px;
    font-size: 25px;
}
#convertBtn{
    border-radius: 10px;
    font-size: 15px;
    position: absolute;
    left: 30%;
    background-color: rgb(33, 178, 245);
    cursor:pointer;
    border-color: rgb(33, 178, 245);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
}
#convertBtn:hover{
    background-color: rgb(9, 106, 151);
}